<html>
    <head>
        <title>Error/title>
        <link rel="stylesheet" href="/css/style.css">
        <style>
            #error{
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body>
       <div class="flex-container">
        {{>header}}
            <div id="error">
                <h1>Oops! page not found</h1>
                <h2>Error:404</h2>
            </div>
        </div>
        {{>footer}}
    </body>
</html>
