<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
       <div class="flex-container">
        {{>header}}
        <img src="/images/kunal.jpg" alt="ops! can't load the image.">
        </div>
        {{>footer}}
    </body>
</html>
