<html>
    <head>
        <title>Help</title>
     
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/interact.js"></script>
    </head>
    <body>
        <div class="flex-container">
        {{>header}}
        <h2>{{help}}</h2>
        </div>
        {{>footer}}
    </body>
</html>
